* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Comic Neue', sans-serif;
  background-color: #fff;
  color: #333;
  padding: 20px 10px;
  margin: 20px;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: unset;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 3px solid #333;
  border-radius: 4px;
}

.date {
  width: 100%;
  margin: 15px 0;
  text-align: right;
}

h1 {
  font-size: 24px;
}

.nav-links {
  display: flex;
  gap: 12px;
}

.nav-links .active {
  padding-bottom: 5px;
  border-right: 2px solid #333;
}

.nav-links a:not(.active):hover {
  border-bottom: 3px solid #333;
}

.home {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.books-list {
  width: 100%;
  border: 2px solid #333;
  margin: 18px 0;
  border-radius: 4px;
}

.books-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 18px;
}

.books-list li:nth-child(odd) {
  background-color: #d3d3d3;
}

button {
  cursor: pointer;
  background-color: #fff;
  color: #333;
  border: 3px solid #333;
  border-radius: 4px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

.form-container {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

form {
  margin: 40px 0 18px 0;
  width: 50%;
}

form input {
  font-size: 16px;
  background-color: #fff;
  color: #333;
  width: 100%;
  border: 3px solid #333;
  border-radius: 4px;
  padding: 10px;
}

.btn-submit {
  float: right;
}

.contact {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 18px;
}

.contact p {
  margin: 40px 0 18px 0;
}

.info {
  list-style-type: circle;
}

.flex {
  display: flex;
}

footer {
  position: absolute;
  font-size: 22px;
  font-weight: bold;
  bottom: 0;
  right: 0;
  left: 0;
  height: 60px;
  border: 3px solid #333;
  border-radius: 4px;
  padding: 10px 40px;
  margin: 20px;
}
